*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, san-serif;
    color: black;

}


body{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background-image: url('bus2.jpg');
    background-size: cover;
    background-repeat:none;
    background-position: center;
}

 #login{
   width: 60%;
   height: 70%;
   margin: 50% auto;
   padding-left: 15%;
   padding-bottom:15px;
   justify-content: center;
   align-content: center;
   background-color: #0a8cc0aa;
   border:   #0682da33 solid;
 }

.bus-image {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
}
div{
    padding: 5px;
    margin: 2px;
}
#submit{
    font-size:15px;
    color:blue;
    background-color:white;
    border:none;
    width:100px;
    height:30px;
    padding-left:50% auto;
    border-radius:50px;
}
 .input{
    margin: 5% auto;
    margin-top:0;
    font-size: 20px;
 }
 form{
    margin:0;
    padding:0;
 }
 label{
    font-size:20px;
    margin:0;
    padding:0;
    color: white;
 }
 .hover:hover{
    color:rgb(41,118,211);
 }

 
 input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1 {
    color: white;
}